.to-do-list {
  text-align: center;
  margin-top: 10em;
  & h1 {
    text-align: center;
    font-size: 4em;
  }
  & .input-task {
    align-items: center;
    font-size: 1.5em;
    border-radius: 5px;
    margin-bottom: 1em;

    & input[type="text"] {
      width: 20em;
      padding-left: 0.5em;
    }

    & .input-group-append {
      margin-top: 0.5em;

      & .add-button {
        margin-right: 0.5em;
      }

      & .clear-completed-button {
        margin-right: 0.5em;
      }
    }
  }

  & ol {
    padding: 0;

    & li {
      font-size: 2em;
      display: flex;
      align-items: center;

      & .check-box {
        width: 1.3em;
        height: 1.3em;
        margin: 0 1em 0.5em 0;
      }

      & input[type="checkbox"]:checked + span {
        text-decoration: line-through;
      }

      & .text {
        flex: 1;
      }

      & .start-button {
        margin-right: 1em;
        color: white;
      }

      & .up-button {
        margin-right: 1em;
      }

      & .down-button {
        margin-right: 1em;
      }
    }
  }
}
