.to-do-list {
  text-align: center;
  margin-top: 10em;
}

h1 {
  text-align: center;
  font-size: 4em;
}
.check-box {
  margin-right: 1em;
}

.start-button {
  margin-right: 1em;
  color: white;
}

.add-button {
  margin-right: 0.2em;
}

.up-button {
  margin-right: 1em;
}
.down-button {
  margin-right: 1em;
}

.input-task {
  align-items: center;
  font-size: 1.5em;
  border-radius: 5px;
  /* margin-right: 1em; */
  margin-bottom: 1em;
}

.input-group-append {
  margin-top: 0.5em;
}

input[type="text"] {
  width: 20em;
  padding-left: 0.5em;
}

input[type="checkbox"]:checked + span {
  text-decoration: line-through;
}

ol {
  padding: 0;
}

li {
  font-size: 2em;
  display: flex;
  align-items: center;
}
.text {
  flex: 1;
}
